
* {
  margin: 10px 10px 10px 10px;
  padding: 0;
  box-sizing: border-box;
  }

a {
  text-decoration: none;
}
h1{
  display: block;
    font-size: 2em;
    font-weight: bold;
}
table {
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    border-collapse: separate;
        border-spacing: 2px;
    -webkit-border-horizontal-spacing: 2px;
    -webkit-border-vertical-spacing: 2px;
}
tbody{
    font-family: verdana;
    font-size: 13px;
    line-height: 18px;
}